html { font-size: 13px; }
body { 
	background: #fcfcfc;
	font: normal 1em/1.5 "Lucida Grande", "Calibri", "Lucida Sans Unicode", Helvetica, sans-serif;
	margin: 0; padding: 0; 
}

:focus { outline: 0; }
a, a:active, a:visited {
  color: #aa2200;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

a img { border: 0; }

h1, h2, h3, h4, h5, h6 { 
	font-family: "Gill Sans MT Pro", "Gill Sans MT", "Gill Sans", "Trebuchet MS", sans-serif; 
	font-weight: normal; 
	margin: 0; 
	padding: 0; 
}

h1 { font-size: 2em; line-height: 1.5; margin: 0; }
h2 { font-size: 1.75em; line-height: 1; margin-bottom: 0.83333333em; }
h3 { font-size: 1.4em; line-height: 1.071428; margin: 0.5em 0 0.571428em;}

p { margin: 0 0 1.5em; }
ul, ol { list-style-position: outside; margin: 0 0 1.5em; padding: 0; }
blockquote { border-left: 2px solid #777777; color: #777777; margin: 0 1em 1.5em; padding: 0 1em; }
blockquote ul, blockquote ol { margin: 0 1.5em 1.5em; }
code { 
	font-family: 'Menlo Regular', 'Bitstream Vera Sans Mono', 'Andale Mono', Consolas, monospace;
	white-space: pre; 
}

#title {
	clear: all;
	height: 20px;
	margin: 0;
	padding: 0;
	background-color: #000000;
	/*border-bottom: 4px solid #888;*/
}
#title H1 {
	float: left;
	margin: 20px 0 0 80px;
	/*border: 4px solid #888;
	border-top: 0;*/
	-webkit-border-bottom-right-radius: 8px;
	-webkit-border-bottom-left-radius: 8px;
	-moz-border-radius-bottomright: 8px;
	-moz-border-radius-bottomleft: 8px;
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;

	padding: 0 30px 6px 30px;
	color: #fcfcfc;
	background-color: #000000;
	font-size: 150%;
	font-weight: bold;
	text-align: center;
}
#title H1 A { color: #fcfcfc; }
#title UL A { color: #000000; }

#title UL {
	position: absolute;
	left: 237px;
	font-weight: bold;
	margin: 7px 2em 0 0;
	/*border: 4px solid #888;
	border-bottom: 0;*/
	-webkit-border-top-left-radius: 8px;
	-webkit-border-top-right-radius: 8px;
	-moz-border-radius-topleft: 8px;
	-moz-border-radius-topright: 8px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	padding: 0 1em 0.2em 1em;
	background-color: white;
	list-style-type: none;
}
#title UL LI { 
	display: inline;
	padding: 0.5em;
}

#dsidebar { border: 1px solid red }
#sidebar {
    color: #777777;
	font-size: smaller;
    position: absolute;
    left: 730px;
    top: 120px;
    margin: 0 7.5em 0 0;
    width: 200px;
}
#sidebar a, #sidebar a:active, #sidebar a:visited {
  color: #777777;
  font-weight: bold;
}
#sidebar .projects {
	margin-bottom: 1em;
}
#sidebar UL {
	margin: 0;
	padding: 0;
	margin-left: 2em;
}
#content {
	width: 600px;
	margin: 60px 0 0 8px;
}

.post {
	margin-bottom: 6em;
}
.post-nav {
	margin-left: 80px;
}

.darchive div { border: 1px solid red; } 
.darchive h2 { border: 1px solid red; } 

.archive .post {
	margin-bottom: 1em;
}
.post .date {
	color: #777777;
	float: left;
	width: 3em;
}
.archive .post .date {
	width: 80px;
	margin-top: -18px;
	font-size: 1em;
}
.post H2 {
	margin-left: 80px;
	margin-top: 0;
	padding-top: 0;
}
.post H2 A {
}
.archive .post H2 {
	margin-left: 90px;
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 0;
	padding-bottom: 0;
}
.post .post-body {
	margin-left: 80px;
}
.archive .post .post-body {
	margin-left: 90px;
	color: #777777;
}
.archive .post .post-body P {
	margin: 0;
}
/*
.post-body BLOCKQUOTE {
	border-left: 1px solid #777777 !important;
	margin-bottom: 18px !important;
	margin-left: -11px !important;
	padding-left: 10px !important;
	color: #808080;
}	
*/
#content.page {
	margin: 90px 0 0 90px;
}

/* Supporting pygmentize: */
.highlight {                                                             
	padding-left: 8px;
}
.highlight * {                                                             
    font-family: 'Menlo Regular', 'Bitstream Vera Sans Mono', 'Andale Mono', Consolas, monospace;
	line-height: 100%;
}

