<div id="sidebar">
	<p>
	Hi, I'm <a href="/about.html">Philip Mateescu</a>, a software craftsman, 
	and I haven't done anything <a href="/projects/">really important</a>. Yet.
	</p>

	<p>Regardless, <a href="/listen.html">here is why</a> you should <a href="http://twitter.com/philipmatix">listen to me</a>.</p>

	<div class="projects">
		<span class="title"><a href="/projects/">Projects</a> in the oven:</span>
		<ul>
			<li> <a href="/projects/squeaky.html">squeaky</a> - web proxy</li>
			<li> <a href="/projects/highlighter.html">Highlighter</a> - Safari extension </li>
		</ul>
	</div>
	<!--
	<div class="projects">
		<span class="title">Graduates:</span>
		<ul>
			<li> <a href="http://variableconsulting.com/projects/squeaky">squeaky</a> - web proxy</li>
			<li> <a href="http://variableconsulting.com/project/highlighter">Highlighter</a> - Safari extension </li>
		</ul>
	</div>
	-->
</div>

