<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link rel="alternate" type="application/atom+xml" title="RSS" href="/atom.xml" />

		<meta name="viewport" content="width=900, initial-scale=0.5, minimum-scale=0.45" />

		<!--
		Theme: Stirred
		Author: Bill Israel  [http://cubicle17.com/]
		For: Tumblr  [http://tumblr.com/]
		Terms: Free to use and alter, but please give credit.
		-->
		
		<title>{% if page.title %}{{ page.title }} @ {% endif %}PhilipMat</title>
		<meta name="author" content="Philip Mateescu" />
		<link media="screen" rel="stylesheet" type="text/css" href="/media/css/stirred.css" />
		<link media="screen" rel="stylesheet" type="text/css" href="/media/css/syntax.css" />
		<link rel="author" href="humans.txt" />
	</head>
	<body>
		{% include title.html %}
		{% include sidebar.html %}
		<div id="content">
		{{ content }}
		</div>
	</body>
</html>
