<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		
		<title>{{ page.title }} . PhilipMat</title>
		<link media="screen" rel="stylesheet" type="text/css" href="/media/css/main.css" />
		<link media="screen" rel="stylesheet" type="text/css" href="/media/css/highlight.css" />
	</head>
	<body>
		{% include title.html %}
		{% include sidebar.html %}
		{{ content }}
		<div id="bottom"></div>
		{% include footer.html %}
	</body>
</html>
