---
layout: base
---
<div class="post">
	<h1 class="title">{{ page.title }}</h1>
	<div class="date">{{ page.date | date: "%a, %b %d %Y" }}</div>
	<div class="body">
		{% if page.has_tldr %}
		<p class="skip-tldr"><i>If you have an attention span as short as mine, feel free to <a href="#tldr">skip to the <abbr title="Too Long; Didn't Read">TL;DR</abbr></a>.</i></p>
		{% endif %}
		
		{{ content }}
	</div>

	<div class="feedback">
		So? Liked it? Hated it? Thought it was stupid? Thought <strong>I</strong> was stupid? Deemed it to be informative? Want to lavish excessive praise or cast fiery insults?  <a href="/contact.html">Contact me</a> and have at it.
	</div>

</div>

{% include copyright.html %}
